.card{
    border: 2px solid black;
    border-radius: 10px;
    height: 360px;
    width: 300px;
    margin: 7px 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}