<section class="header-restaurants">
        <h1>Restaurants</h1>
</section>


<section class="restaurants-section">
<div class="side">
    <app-side-bar></app-side-bar>
</div>
<div class="restaurants">
    <div class="filter">
        <app-pagination [page]="params.page" [pageSize]="params.pageSize" [collectionSize]="restaurantList.count" (pageChanged)="onPageChanged($event)"></app-pagination>
        <form class="form-inline">
            <label for=" pricerange"  class=" text-left">Price Range: </label>
            <input type="number" [(ngModel)]="params.filter.priceFrom" (input)= "getAllRest()" class="form-control">  
            <input type="number" [(ngModel)]="params.filter.priceTo" (input)= "getAllRest()" class="form-control">        
        </form>
    </div>
    <div class="restaurants-list">
        <div class="restaurant-item" *ngFor="let restaurant of restaurantList.results">
            <app-restaurant-item [restaurant]= "restaurant"></app-restaurant-item>
        </div>
    </div>
</div>

</section>












<!--
<div class="row">
<div class="col-3">
    <app-side-bar></app-side-bar>
</div>
<div class="col-9">
<div class="row">
  <div class="col">
        <app-pagination [page]="params.page" [pageSize]="params.pageSize" [collectionSize]="restaurantList.count" (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
    <div class="col">
        <div class="row">
          <div class="col">
                <label for=" pricerange"  class=" text-left">Price Range: </label>
         </div>
         <div class="col">
              <input type="number" [(ngModel)]="params.filter.priceFrom" (input)= "getAllRest()" class="form-control">            
         </div>
         <div class="col"> 
            <input type="number" [(ngModel)]="params.filter.priceTo" (input)= "getAllRest()" class="form-control">          
         </div>
        </div> 
    </div>
</div>


<div class="row">
 <div class="col-3" *ngFor="let restaurant of restaurantList.results">
        <app-restaurant-item [restaurant]= "restaurant"></app-restaurant-item>
    </div>
</div>
</div>
</div>
-->
