/*Headings*/
h2{
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 20px;
}
h4{
    margin-bottom: 30px;
}

header{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}
.text-box{
    color: rgb(226, 204, 204);
    position: absolute;
    z-index: 100;
    text-align: center;
    padding: 50px;
    
  
}

.red-text{
    color: rgb(146, 23, 23);
    font-size: 1.3em;
    font-weight: 600;
}
header video{
    width: 100%;
    height: 100%;
    position: absolute;
     top: 0;
     left: 0;
    object-fit: cover;
    
}

.about{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    color: rgb(28, 68, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 75px;
}
.box-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 80px;
}
.box-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box-right img{
   width: 50%;
   height: 80%;
    display: block;
    padding: 0 15px;
}

.galery{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}
.image{
    position: relative;
    width: 25%;
}
.image img{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay{
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text{
    color: white;
    font-size: 1em;
}

.image:hover img {
    opacity: 0.3;
    
  }
  .image:hover .overlay {
    opacity: 1;
  }


.contact-section{
    height: 60vh;
    padding: 50px 75px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(28, 68, 27);
}

.btn{
    display: inline-block;
    padding: 5px 9px;
    background-color: rgb(146, 23, 23);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    margin-top: 10px;
    opacity: 1;
    transition: 0.3s;
  }

.btn:hover{
    opacity: 0.6
}