<header>
<video muted loop autoplay id="video" >
    <source src="/assets/images/video.mp4" type="video/mp4">
    The file type is not supported
</video>

<div class="text-box">
    <h2>Your guide to the Boston's best restaurants</h2>
       <p class="red-text">Because nothing brings people together like a good food </p>
    
</div>
</header>


<section class="about">
    <div class="box-left">
        <h4>Discover hidden gem restaurants,<br> make every meal count!</h4>
        <p>COVID-19 has upended Boston's dining scene—but that doesn't mean you can't eat well. With <span class="red-text ">HungryBob</span> discover how local restaurants are adapting, and find the best food in the city while staying safe.  </p>
    </div>
    <div class="box-right">
       <img src="/assets/images/img1.jpg" alt="image1" >  
       <img src="/assets/images/img2.jpg" alt="image2" >  
 
 </div>
</section>

<section class="galery">
<div class="image">
        <img src="/assets/images/gl1.jpg" alt="galeryPic" >
    <div class="overlay">
        <p class="overlay-text">Esther's German Saloon</p>
    </div>
</div>
<div class="image">
    <img src="/assets/images/gl2.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Le Bateau Rouge</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl3.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Der Speisewagen</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl4.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Kohl Haus</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl5.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">North by Northwest</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl6.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Carthage</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl7.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Flavia</p>
</div>
</div>
<div class="image">
    <img src="/assets/images/gl8.jpg" alt="galeryPic" >
<div class="overlay">
    <p class="overlay-text">Sally's Diner</p>
</div>
</div>
    
</section>

<section class="contact-section">
<h2>Restaurateurs Join Us</h2>
<p>Favorite restaurant not yet on <span class="red-text">HungryBob</span>? </p>
<a class="btn" [routerLink]="['/contact']">Contact Us</a>
</section>